[submodule "ink/node/substrate-node-template"]
	path = ink/node/substrate-node-template
	url = git@github.com:avcdsld/substrate-node-template.git
[submodule "substrate-nft/substrate-node-nft"]
	path = substrate-nft/substrate-node-nft
	url = git@github.com:avcdsld/substrate-node-nft.git
[submodule "frame-multisig/substrate-node-template-multisig"]
	path = frame-multisig/substrate-node-template-multisig
	url = git@github.com:avcdsld/substrate-node-template-multisig.git
[submodule "frame-multisig/substrate-front-end-template-multisig"]
	path = frame-multisig/substrate-front-end-template-multisig
	url = git@github.com:avcdsld/substrate-front-end-template-multisig.git
[submodule "multi-currency/node"]
	path = multi-currency/node
	url = git@github.com:avcdsld/substrate-node-nft.git
[submodule "frame-development/node"]
	path = frame-development/node
	url = git@github.com:avcdsld/substrate-node-nft.git
[submodule "frame-development/front-end"]
	path = frame-development/front-end
	url = git@github.com:avcdsld/substrate-front-end-frame-development.git
